.t2 {
    color: black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .t2p {
    margin-top: 2%;
    display: flex;
    z-index: 2;
    position: relative;
    justify-content: center;
  }

  .t60 {
    margin-top: 5%;
    gap: 2%;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .v1{
    border-radius: 10px;
    width:396px ;
    height: auto;
  }

  .ts {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
  }

  .navi {
    margin-top: 2%;
    text-align: center;
  }

  .imm2 {
    position: absolute;
    z-index: 1;
    height: 1071px;
  }

  .t3 {
    color: black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .t3p {
    margin-top: 6%;
    z-index: 3;
    position: absolute;
    text-align: center;
    margin-left: 41%;
  }